{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
  <h3 class="mt-4 mb-2 mx-2">All Students</h3>
  <div class="row">
    <div class="col-12 me-4 mb-4">
      {%if students %}
      <div class="card bg-light">
        <div class="card-header">
            <i class="fa-solid fa-list fa-lg"></i> Student records
        </div>
        <div class="card-body">
          <p class="card-text">
          <div class="table-responsive">
            <table class="table table-hover rounded">
                <thead class="rounded">
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Note</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="rounded">
                  {%for student in students%}
                  <tr class="table">
                    <td scope="row">{{student.number}}</td>
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.note}}</td>
                    <td>
                      <button type="button" class="btn btn-success me-1 btn" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                        <i  class="fa-solid fa-circle-info fa-lg i"></i>
                      </button>
                      {% comment %} <i class="fa-solid fa-circle-fas fa-pen-square fa-lg me-2 i"></i>
                      <i class="fa-solid fa-circle-xmark fa-lg i"style="color:red;"></i> {% endcomment %}
                      {% comment %} the id is important but the other attributs I'm not knowing why!!!!!!! {% endcomment %}
                      <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              
                              {% comment %} <h5 class="modal-title text-center">{{student.first_name}} {{student.last_name}}</h5> {% endcomment %}
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {%if student.photo%}
                              <img src="{{student.photo.url}}" style="width:300px;height:300px;margin-bottom:10px;"  class="rounded mx-auto d-block" alt="...">
                              {%endif%}
                              <ul class="list-unstyled">
                                <li>Number : {{student.number}}</li>
                                <li>First Name : {{student.first_name}}</li>
                                <li>Last Name : {{student.last_name}}</li>
                                <li>Number : {{student.email}}</li>
                                <li>Number : {{student.note}}</li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a href="{% url 'edit' student.id %}" class="btn btn-warning me-1">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                      </a>

                      <button tupe="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                        <i class="fa-solid fa-trash-can fa-lg"></i>
                      </button>

                      <!--Modal delete  student-->
                      <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                <h5 class="modal-title text-center">{{student.first_name}} {{student.last_name}}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want delete this student?</p>
                            </div>
                            <div class="modal-footer">
                              <form action="{% url 'delete' student.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Delete">


                              </form>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>




                    </td>
                    {% comment %} {%if student.photo%} {% endcomment %}
                    {% comment %} <td style="width:100px;height:100px;"><img src="{{student.photo.url}}" class="rounded text-center" style="width:100px;height:100px;cursor: pointer;"></td>
                    {%endif%} {% endcomment %}
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </p>
        </div>
        {%else%}
        <h5 class='alert alert-primary'>No Student record</h5>
        {%endif%}
        </div>
    </div>
  </div>
</div>
{% endblock body %}
  